$body-width: 780px;
$font-alt: "trebuchet ms", sans-serif;

@mixin article-img {
  margin-right: 5px;
  width: 150px;
  float: left;
}

body {
  font: normal small Arial, Helvetica, sans-serif;
  color: white;
  text-align: justify;
  font-size: 13px;
  margin: 0 auto 10px auto;
  width: $body-width;
  background-color: #c3c3c3;
  background-image: url(../images/bg2.gif);
  background-repeat: repeat-x;
}

#language {
  position: absolute;
  margin-top: -10px;
  img {
    margin-right: 1px;
    width: 17px;
  }
}

#reg-auth {
  p {
    text-align: right;
  }
  a {
    font: 14px sans-serif;
    text-decoration: none;
    color: #EF662B;
    margin-left: 10px;
    border-bottom: 1px dashed #EF662B;
    &:hover{
      border-bottom: none;
    }
  }
}

#border {
  border: 5px solid #ffffff;
  background-image: url(../images/bg.gif);
  background-repeat: repeat-y;
}

#header {
  background-color: #CDCCCB;
  height: 205px;
}

#left {
  width: 350px;
  height: 205px;
  text-align: left;
  float: left;
}

#car {
  border-left: 2px solid #9E191E;
  height: 205px;
  width: 418px;
  background: url(../images/header.jpg);
  float: left;
}

.name {
  font-size: 32px;
  color: #3C3C3C;
  font-family: $font-alt;
  text-transform: uppercase;
  padding-top: 55px;
  padding-left: 15px;
}

.tag {
  padding-left: 17px;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #9E191E;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
}

.sap2 {
  color: #9E1C1C;
  width: 6px;
  text-align: center;
  float: left;
}

.toplinks {
  color: #9E1C1C;
  text-transform: uppercase;
  font-family: $font-alt;
  width: 105px;
  float: left;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  a {
    color: #9E1C1C;
    text-decoration: none;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

#mainarea {
  width: 610px;
  margin-bottom: 10px;
  background-image: url(../images/heading-bg.gif);
  background-repeat: repeat-x;
  float: left;
}

.quick-bg {
  width: 160px;
  text-align: left;
  float: left;
}

.heading {
  height: 51px;
  padding-left: 30px;
  font-size: 15px;
  color: #560001;
  text-align: left;
  line-height: 51px;
  background-image: url(../images/rc.gif);
  background-repeat: no-repeat;
  background-position: left;
  &2 {
    font-size: 16px;
    font-weight: bold;
    font-family: $font-alt;
    color: #A1181C;
  }
}

#main {
  color: #303335;
  text-align: left;
  padding: 10px;
  > img:first-child {
    @include article-img;
  }
  .article {
    margin: 10px;
    border-bottom: 2px solid #c2c2c2;
    height: 180px;
    img {
      @include article-img;
    }
  }
  .avatar {
    margin-right: 5px;
    width: 150px;
    height: 150px;
    float: left
  }
}

.pagination {
  text-align: center;
}

.author {
  color: #B6B6B6;
  a {
    color: #B6B6B6;
    font-weight: normal;
  }
}

a {
  color: #DE5202;
  font-weight: bold;
  text-decoration: underline;
  &:hover {
    color: #DE5202;
    text-decoration: none;
  }
}

.quick-links {
  height: 35px;
  line-height: 35px;
  color: #DE5202;
  font-weight: bold;
  padding-left: 15px;
  a {
    color: #FDCA00;
    font-weight: normal;
    text-decoration: underline;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

#bottom {
  height: 40px;
  width: $body-width - 137px;
  line-height: 40px;
  padding-left: 127px;
  background-color: #B6B6B6;
  float: left;
}

.copy {
  clear: left;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: black;
}

#rc-bg {
  width: 144px;
  height :51px;
  line-height: 51px;
  background-color: #ffffff;
  font-size: 15px;
  color: #9E1C1C;
  text-align: left;
  text-transform: uppercase;
  font-family: $font-alt;
  font-weight: bold;
  padding-left: 15px;
}

#spacer {
  height: 40px;
  line-height: 40px;
  margin-bottom: 15px;
}

.products {
  width: 168px;
  border: 2px dotted #BCBCBC;
  margin-left: 10px;
  height: 140px;
  float: left;
}

#form_user {
  width: 250px;
  > p {
    text-align: right;
  }
  input:not([type="submit"]):not([type="file"]) {
    width: 100px;
  }
}

.article-edit {
  font-size: 18px;
  font-family: $font-alt;
  text-align: right;

  &-enabled {
    font-weight: bold;
    color: #A1181C;
    cursor: default;
  }
  &-disabled {
    color: gray;
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid gray;
    }
  }
}

.comments-template {
  margin: 10px 0 0;
  border-top: 1px solid #ccc;
  padding: 10px 0 0;
  ol {
    margin: 0;
    padding: 0 0 15px;
    list-style: none;
    li {
      margin: 10px 0 0;
      line-height: 18px;
      padding: 0 0 10px;
      border-top: 1px solid #ccc;
    }
  }
  h2, h3 {
    font-family: Georgia, Sans-serif;
    font-size: 16px;
  }
  textarea {
    font-family: Arial, Helvetica, Georgia, Sans-serif;
    font-size: 12px;
  }
}
